@charset 'utf-8';
/* 기본, 모바일 우선 */


/* 1. mo */
@media screen and (max-width: 767px) {}

/* 2. tb~ */
@media screen and (min-width: 768px) {
  .hd-container { /* 최대 크기 있으면 잡으면 되는데, 가로로 펼쳐지는 건 없애야 돼 */
    padding-top: 1.4em;
    padding-bottom: 1.4em;
  }
  .mo-gnb-sitemap {
    right: 0;
    top: -100%;
  }
  .mo-gnb-sitemap.on {
    top: 0;
  }
  .mo-gnb-logo {
    width: 360px;
    height: 38px;
  }
  .btn-close {
    width: 100px; /* 80px 그대로 둬도 되고 100으로 키워도 되고. 크게 할거면 X 도 키워야해서 키움 */
    height: 100px;
    font-size: 1.2em;
  }
  #dolce-mo-gnb {
    display: flex;
    align-items: center;
    height: calc(100vh - 100px); /* px 값은 위 btn-close의 height 값임 */
    font-size: 1.2em;
  }
  .dolce-mo-gnb {
    width: 100%;
  }
  .mo-depth1 {
    position: relative;
    padding: 1.5em 0;
  }
  .mo-depth1:after { /* 애니메이션 라인 */
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left center; /* 이거 안잡으면 가운데서 줄어들고 그럼 */
    transition: 0.5s;
  }
  .mo-depth1:hover:after {
    transform: scaleX(1);
  
  }
  .mo-depth1 > a {
    padding: 0;
    line-height: 1.6;
  }
  .mo-depth1 > a:after {
    /* display: none; 이거 써도 되고 콘텐트도 사용가능*/
    content: '';
  }
  .mo-depth2 {
    display: flex;
    /* flex-wrap: wrap; 2줄로 내려가는 메뉴 있는 사람만 하면 됨 */
    gap: 40px;
    align-items: center;
    padding: 0;
    background-color: transparent;
    box-shadow: inherit; /* none 해도 없어짐 */
  }
  .mo-depth2 a {
    opacity: 0.6;
    transition: 0.5s;
  }
  .mo-depth2 a:hover {
    opacity: 1;
  }
}

/* 3. only tb */
@media screen and (min-width: 768px) and (max-width: 1279px) {}

/* 4. laptop 1280~ */
@media screen and (min-width: 1280px) {
  .hd-container { /* 최대 크기 있으면 잡으면 되는데, 가로로 펼쳐지는 건 없애야 돼 */
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  #dolce-gnb {
    display: block;
  }
  .logo {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .util-menu {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-sitemap {
    margin-left: 1.5em;
  }
  .mo-gnb-sitemap {
    padding-left: 24%;
    opacity: 1;
  }
  .mo-gnb-sitemap:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 24%;
    height: 100%;
    background: url('../image/bg_sitemap.jpg') center bottom / cover; 
    content: '';
  }
  .mo-gnb-top {
    justify-content: flex-end; /*주축의 끝*/
  }
  .mo-gnb-logo {
    display: none;
  }
  #dolce-mo-gnb {
    padding: 0 40px 100px; /*위 좌우 아래*/
  }
  .mo-depth1 {
    display: flex;
    align-items: center;
  }
  .mo-depth1 > a { /* ex 단위 : 소문자 x의 너비를 글자크기로 봄, em은 m 너비 */
    width: 240px; /* customer 기준으로 ul & depth1 사이 간격 띄운 것 */
    font-size: 1.6em;
  }
  .mo-depth2 {
    width: calc(100% - 240px);
    font-size: 1.1em;
    /* line-height: 1.2; 2줄일 때 */
    /* text-align: center; 2줄일 때 */
  }
}

/* 4.1 laptop 1600~ */
@media screen and (min-width: 1600px) {
  .mo-gnb-sitemap {
    padding-left: 36%;
  }
  .mo-gnb-sitemap:before {
    width: 36%;
  }
  #dolce-mo-gnb {
    padding: 0 100px 100px; /*위 좌우 아래*/
  }
  .mo-depth1 > a {
    font-size: 2em;
  }
}



/* 5. laptop 1921~ */
@media screen and (min-width: 1921px) {}
